<div class="postcard">
    <div class="postcard-header">
        <div class="postcard-title">
            <a href="{{ url_for('main.post', slug=post.slug) }}">
                <h2 id="post{{ post.id }}">{{ post.title }}</h2>
            </a>
        </div>
        <div class="postcard-intro">
            By
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                {{ post.author.full_name }}
            </a>
            &middot;
            {{ post.timestamp|humanize }}
        </div>
    </div>
    <p>{{post.summary|truncate(100)}}</p>
</div>