<li>
  <time datetime="2014-07-20">
    <span class="day">{{event.day}}</span>
    <span class="month">{{event.month}}</span>
    <span class="year">2014</span>
    <span class="time">ALL DAY</span>
  </time>
  <!--
  <img alt="Independence Day" src="https://farm4.staticflickr.com/3100/2693171833_3545fb852c_q.jpg" />
  -->
  <div class="info">
    <h2 class="title">{{event.name}}</h2>
    <div class="desc">{{event.excerpt}}</div>
  </div>
  <!--
  <div class="social">
    <ul>
      <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fab fa-facebook"></span></a></li>
      <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fab fa-twitter"></span></a></li>
      <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fab fa-google-plus"></span></a></li>
    </ul>
  </div>
  -->
</li>
