<!DOCTYPE html>
<html>

  <head>

    <title>Flask Dashboard Argon - Admin Dashboard with Argon Design | AppSeed</title>
    <meta name="description" content="Admin Panel with Argon Design crafted by Creative-Tim and coded in Flask  with SQLite database, ORM and authentication.">

    {% include 'includes/header.html' %}
    {% block head %}
    {% endblock %}  

  </head>

<body>

  {% include 'includes/sidenav.html' %}

  {% block content %}
  {% endblock %}

  {% block scripts %}
    {% include 'includes/scripts.html' %}
  {% endblock %}
  

</body>

</html>




